<h2>Про сайт</h2>
<img src="../../static/img/MSH.jpg" alt="MSH">
<p>
    Наш магазин Bookshop був заснований 2020 року видатним українським прозаїком Миколою Щербиною.
    В ці важкі часи важко іноді замислюватись над чимось вагомим. Наприклад, про нищення надбання,
    що нам передається із року в рік. Саме задля збереження і розповсюдження рідкісної старовинної
    літератури і був створений наш сайт. Деякі люди навіть власноруч знаходили Миколу та з радістю
    продавали йому рідкісні трактати. Такі неважливі для них і такі безцінні для людства...
</p>