<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookshop — {{ scope['title'] }}</title>
    <link rel="icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="{{ scope['style'] }}">
</head>
<body>
        <div class="wrapper">
            <div class="content">
                <header>
                    {% include 'header.html' %}
                </header>
                <main role="main">
                    {% include scope['content'] %}
                </main>
            </div>
            <footer class="footer">
                {% include 'footer.html' %}
            </footer>
        </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script>
    <script src="{{ scope['script'] }}"></script>
</body>
</html>