<h1>Bookshop</h1>
<h3>Привіт, Гість!
    </span>
</h3>
<hr>
<nav>
    <table width="100%" border="0">
        <tr>
            <td class="left">
                <a href="{{ url_for('index') }}">Головна</a>
                |
                <a href="{{ url_for('about') }}">Про сайт</a>
                |
                <a href="{{ url_for('contacts') }}">Контакти</a>
                |
                <a href="{{ url_for('goods_index') }}">Товари</a>
                |
                <a href="{{ url_for('goods_cart') }}">Кошик</a>
                |
            </td>
        </tr>
    </table>
</nav>
<hr>